{% extends 'website/base.html' %} {% block content %}<title>about</title>
  <center>
    <p class="aboutus">
      Thank you for joining us on the mission to make india a pollution free
      country.Our goal is spread awareness about pollution.You can read more about
      all the pollutions by hovering over the pollution button, then a dropdown
      menu will appear having many pollutions names you can click one of them to
      know more about it.We also have the articles page where we will provide
      links to articles which you can read to increase you knowledge about
      pollutions and the current happening surrounding pollutions.We are also
      hosting many campaigns to donate to save people from pollution,you can read
      more about these in the donate page,If you have any ideas or
      suggestions,sponsorships for the donations or any other important thing to
      message us about please make use of our whatsapp number and email given in
      the contact us page.You can also checkout our instagram and twitter,there
      will be twitter and instagram icons on the home page,you can reach our
      twitter and instagram and twitter by clicking on the icons we will be making
      updates and posts there.There will also be a kind of chatting icon,when you
      click it you will get a small popup on the bottom,which lets you send
      messages to us and we can respond back also.We hope everyone joins together
      on this goal to prevent pollution and make india a pollution free country.
      </p>
    </center>
<style>
  .aboutus {
    font-size: larger;
    font-weight: bold;
    border-spacing: 10px;
    font-family: "Montserrat", sans-serif;

  }
</style>

{% endblock %}