{% extends 'website/base.html' %} {% block content %}<title>about</title>
  <center>
    <p class="aboutus">
      Pollution Free India is an organization with a few optimistic young minds who are trying to create a clean and<br> sustainable world by aiming on helping to reduce pollution, we do this by spreading awareness and<br> making everyone be a part of our mission. We are trying to completely prevent pollution around the world.
      </p>
    </center>
<style>
    body{
        background-image: url("/static/admin/pollution/media/poll_back1.jpg");
        background-size: cover;
      }
  .aboutus {
    font-size: larger;
    font-weight: bold;
    border-spacing: 10px;
    font-family: "Montserrat", sans-serif;

  }
</style>

{% endblock %}