{% extends 'website/base.html' %} {% block content %}<title>about</title>
  <center>
    <p class="aboutus">
      Pollution Free India is an organization which aims on helping reduce pollution,we do this by spreading awareness and making everyone be a part of our mission our final aim is to completely prevent pollution around the world.
      </p>
    </center>
<style>
    body{
        background-image: url("/static/admin/pollution/media/poll_back.jpg");
        background-size: cover;
      }
  .aboutus {
    font-size: larger;
    font-weight: bold;
    border-spacing: 10px;
    font-family: "Montserrat", sans-serif;

  }
</style>

{% endblock %}