{% extends 'website/base.html' %}
{% block content %}

<style>
    h3{
        color:black;
    }
</style>

<style>
    body{
        background-image: url("/static/admin/pollution/media/poll.jpg");
        background-size: cover;
      }
</style>

<title>articles</title><br>
<h3><a style="padding-left: 0.5em; color:black; text-decoration: none; font-size: larger;" href=https://education.nationalgeographic.org/resource/pollution">general information on pollutions around the world</a></h3></center>
<div class="space20"><div class="border"><img src="/static/admin/pollution/media/poll_back.jpg"  height="300"></div><br></div>

<h3><br><a style="padding-left: 0.5em; color:black; text-decoration: none; font-size: larger;" href="https://en.wikipedia.org/wiki/Pollution">general information on pollution</a></h3></center>
<div class="space21"><div class="border"><img src="/static/admin/pollution/media/wiki.jpg"  height="300"></div><br></div>

<h3><br><a style="padding-left: 0.5em; color:black; text-decoration: none; font-size: larger;" href="https://www.worldbank.org/en/topic/pollution#1">information on programs organized to help countries suffering from pollutions</a></h3></center>
<div class="space22"><div class="border"><img src="/static/admin/pollution/media/poll_back3.webp"  height="300"></div><br></div>

<h3><br><a style="padding-left: 0.5em; color:black; text-decoration: none; font-size: larger;" href="https://www.britannica.com/science/pollution-environment">detailed information on pollution</a></h3></center>
<div class="space23"><div class="border"><img src="/static/admin/pollution/media/brit.webp"  height="300"></div><br></div>

<h3><br><a style="padding-left: 0.5em; color:black; text-decoration: none; font-size: larger;" href="https://byjus.com/biology/types-of-pollution/">pollution explained for children</a></h3></center>
<div class="space24"><div class="border"><img src="/static/admin/pollution/media/byju.png"  height="300"></div><br></div>

<h3><br><a style="padding-left: 0.5em; color:black; text-decoration: none; font-size: larger;" href="https://www.sciencedirect.com/journal/environmental-pollution">about a book about pollution</a></h3></center>
<div class="space25"><div class="border"><img src="/static/admin/pollution/media/book.jpg"  height="300"></div><br></div>

<h3><br><a style="padding-left: 0.5em; color:black; text-decoration: none; font-size: larger;" href="https://www.niehs.nih.gov/health/topics/agents/air-pollution/index.cfm">air pollution and your health</a></h3></center>
<div class="space26"><div class="border"><img src="/static/admin/pollution/media/preg.jpg"  height="300"></div><br></div>

<h3><br><a style="padding-left: 0.5em; color:black; text-decoration: none; font-size: larger;" href="https://ourworldindata.org/air-pollution">collected data of air pollution</a></h3></center>
<div class="space27"><div class="border"><img src="/static/admin/pollution/media/air5.jpg"  height="300"></div><br></div>
{% endblock %}
