{% extends 'website/base.html' %}
{% block content %}<title>contact</title>
<p class="contact">You can contact us for telling us about any problems happening in your area or if you want to sponsor for any
donations for helping the people suffering from pollution of a certain area.(you can also use public chat for chatting
any general information which can be answered and seen by anyone visiting the website)
</p><br><br><br><br><br>
<p class="contact">whatsapp number:9633591053</p><br><br><br>
<p class="contact">email:pollutionfreeindia.official@gmail.com</p>

<style>
    .contact {
      font-size: larger;
      position: absolute;
      text-shadow: cornflowerblue;
      font-weight: bold;
      border-spacing: 10px;
    }
  </style>
{% endblock %}  