{% extends 'website/base.html' %}
{% block content %}<title>contact</title>
<center>
  <p class="contact">You can contact us for telling us about any problems happening in your area or if you want to sponsor for any
  donations for helping the people suffering from pollution of a certain area.(you can also use public chat for chatting
  any general information which can be answered and seen by anyone visiting the website)
  </p><br><br><br><br><br>
  <div class="dis1"><h1 class="contact"><u>whatsapp number</u></h1><br><br></div>
  <div class="dis"><h1 class="contact">9633591053</h1><br></div><br>
  <div class="dis1"><h1 class="contact"><u>email</u></h1><br><br></div>
  <div class="dis"><h1 class="contact">pollutionfreeindia.official@gmail.com</h1><br></div>
</center>
<style>

    body{
        background-image: url("/static/admin/pollution/media/poll_back.jpg");
        background-size: cover;
      }
      
    .contact {
      font-size: larger;
      position: absolute;
      text-shadow: cornflowerblue;
      font-weight: bold;
      border-spacing: 10px;
      font-family: "Montserrat", sans-serif;
    }

    .dis{
      padding-left: 2em;
    }

    .dis1{
      padding-left: 0.5em;
    }
  </style>
{% endblock %}     