{% extends 'website/base.html' %} {% block content %}<title>donate</title>
<p class="lol">
  Many people are suffering daily because of pollution.Please donate to us so
  that we can give that money to the people so that they can overcome the
  pollution in their area
</p>
<center>
  <button class="donate" type="button">Donate us</button>
</center>
<style>
  .donate {
    background-color: #3498db;
    color: #fff;
    font-size: 1.2em;
    padding: 0.8em 1.5em;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 5px 10px #888888;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }

  .lol {
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    color: #db343400;
    text-shadow: 2px 2px #888888;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin: 2em 0;
  }
</style>
{% endblock %}