{% extends 'website/base.html' %} {% block content %}<title>plastic</title><br><br>
<div class="space9"><div class="border"><img src="/static/admin/pollution/media/plastic_pollution.jpg"  height="300"></div></div><br>

<h1>How Plastc Pollution occurs?</h1>
<p style="font-size: larger; word-spacing: 10%; margin: 9px">
  Plastic pollution occurs when plastic waste is not properly disposed of and
  ends up in the environment, including oceans, rivers, and other bodies of
  water. This can happen through littering, improper disposal of waste, and
  inadequate waste management systems. Plastic can also enter the environment
  through natural disasters, such as floods, and through the breakdown of larger
  plastic items, such as discarded fishing nets. Additionally, plastic particles
  can be transported by wind and water over long distances, causing pollution in
  remote areas.
</p>
<h1 style>How can one prevent it?</h1>
<p style="font-size: larger; margin: 9px">
  There are several ways to prevent plastic pollution: Reduce consumption of
  single-use plastics: This includes items such as plastic shopping bags,
  straws, and disposable cutlery. Recycle: Properly sorting and recycling
  plastic waste can keep it from ending up in the environment. Properly dispose
  of waste: Make sure to properly dispose of plastic waste by placing it in
  designated receptacles and not littering. Support plastic-free initiatives:
  Support businesses and organizations that are committed to reducing plastic
  waste and pollution. Use reusable items: Instead of disposable plastics, use
  reusable items such as water bottles, shopping bags, and containers for food
  and drink. Educate others: Spread awareness about the negative impacts of
  plastic pollution and encourage others to take action. Support policy change:
  Support policies and regulations that aim to reduce plastic pollution, such as
  plastic bag bans, and extended producer responsibility. Use biodegradable and
  eco-friendly plastic alternative products. By using these methods, one can
  greatly reduce the amount of plastic pollution and help protect the
  environment.
</p>
<h1 style="margin: 9px">
  What all measures can one take if their area is affected by Plastic pollution?
</h1>
<p style="margin: 9px; font-size: larger">
  When an area is facing plastic pollution, there are several measures that can
  be taken: Organize a community cleanup: Get together with friends, family, and
  neighbors to organize a cleanup of local waterways, beaches, and other areas
  affected by plastic pollution. Support local plastic-free initiatives: Look
  for local businesses and organizations that are committed to reducing plastic
  waste and pollution, and support their efforts. Encourage recycling: Promote
  recycling in the community and educate people on proper sorting and disposal
  of plastic waste. Advocate for policy change: Support policies and regulations
  that aim to reduce plastic pollution, such as plastic bag bans and extended
  producer responsibility. Raise awareness: Spread awareness about the negative
  impacts of plastic pollution in the community and encourage others to take
  action. Support Plastic-free campaigns, events, and activities in the area.
  Promote the use of eco-friendly alternatives to plastic products. Encourage
  waste segregation and composting. By working together and utilizing these
  methods, a community can make a significant impact on reducing plastic
  pollution in the area.
</p>

{% endblock %}