{% extends 'website/base.html' %} {% block content %}<title>water</title><br><br>
<img src="/static/admin/pollution/media/water_pollution.jpg"  height="300" style="display: block; margin: 0 auto;"><br>

<h1>How Water Pollution occurs?</h1>
<p style="font-size: larger; word-spacing: 10%; margin: 9px">
  Agricultural runoff: Fertilizers, pesticides, and other chemicals used in
  agriculture can wash into nearby waterways, contaminating the water and
  harming aquatic life. Industrial pollution: Industries such as factories,
  power plants, and mines can release harmful chemicals and pollutants into
  nearby waterways. Sewage and wastewater: Improperly treated or discharged
  sewage and wastewater can contaminate water with harmful bacteria and other
  pollutants. Oil spills: Oil spills from ships and offshore drilling platforms
  can have a severe impact on marine life and coastal ecosystems. Littering and
  solid waste: Litter and solid waste can end up in waterways, where they can
  harm aquatic life and degrade water quality. Leakages from underground storage
  tanks: leaking underground storage tanks can contaminate groundwater, the
  source of drinking water for many communities. Atmospheric deposition:
  pollutants can be carried by wind and deposited into bodies of water, this is
  common for acid rain. Runoff from urban areas: surfaces like roads, parking
  lots and buildings can generate runoff that carries pollutants like oil, heavy
  metals, and pesticides into nearby waterways. Water pollution can have a range
  of negative effects on aquatic life, human health, and the environment. It can
  make water unsafe to drink, harm or kill fish and other aquatic life, and make
  water bodies unattractive for recreational activities.
</p>
<h1 style>How can one prevent it?</h1>
<p style="font-size: larger; margin: 9px">
  Reducing the use of chemicals and fertilizers in agriculture and gardening,
  and properly disposing of any chemicals that are used. Properly treating and
  disposing of sewage and wastewater to prevent the release of harmful
  pollutants into waterways. Implementing best management practices for
  industrial facilities to reduce water pollution from industrial sources.
  Supporting regulations and best practices for oil and gas development to
  prevent oil spills and other types of water pollution. Supporting regulations
  and best practices for land use and development to prevent water pollution
  from runoff. Supporting regulations and best practices for underground storage
  tanks to prevent leaks and spills Supporting regulations to reduce atmospheric
  deposition Supporting regulations for waste management, including recycling
  and proper disposal of litter and solid waste. Supporting regulations for
  ships, boats, and other watercraft to prevent oil spills and other types of
  pollution. Supporting regulations for recreational activities such as boating,
  fishing, and swimming to minimize the impact on water bodies. Supporting
  regulations for stormwater management, to reduce the amount of pollutants that
  get carried into waterways during heavy rains. Supporting regulations for the
  management of hazardous waste. Supporting regulations for the management of
  pesticides. Supporting regulations for the management of animal waste
  Supporting regulations for the management of construction sites It's important
  to note that individuals and communities can make a difference by taking
  actions to reduce their own water pollution footprint and supporting
  regulations that protect water resources.
</p>
<h1 style="margin: 9px">
  What all measures can one take if their area is affected by water pollution?
</h1>
<p style="margin: 9px; font-size: larger">
  Educate yourself and others about the sources of water pollution in your
  community and their potential health effects. Get involved in community
  organizations and groups working to improve water quality in your area.
  Support local and regional policies that aim to reduce water pollution, such
  as regulations for industrial facilities and agricultural practices. Support
  best management practices for oil and gas development, land use and
  development, and underground storage tanks to prevent leaks and spills.
  Support regulations for waste management, including recycling and proper
  disposal of litter and solid waste. Support regulations for ships, boats, and
  other watercraft to prevent oil spills and other types of pollution. Support
  regulations for recreational activities such as boating, fishing, and swimming
  to minimize the impact on water bodies. Support regulations for stormwater
  management, to reduce the amount of pollutants that get carried into waterways
  during heavy rains. Support regulations for the management of hazardous waste.
  Support regulations for the management of pesticides. Support regulations for
  the management of animal waste Support regulations for the management of
  construction sites Report any illegal discharges or suspicious activities to
  the appropriate authorities, such as local or state environmental agencies.
  Encourage local officials to enforce federal and state regulations aimed at
  reducing water pollution. Support the use of best management practices and
  technologies for sewage treatment and waste water management Support the
  protection and restoration of wetlands, streams, and other natural water
  features It's important to note that it's important to work with local
  authorities and organizations to help address water pollution. Also, you can
  contact your local representatives and ask them to take action on the issue.
</p>
{% endblock %}